body {
    --accentColor: rgba(255, 200, 100, 1);
    --keyShade: rgba(100, 100, 100, 0.6);
    --keyLight: rgba(200, 200, 200, 0.5);
    --keyLine: rgba(100, 50, 0, 0.7);
    --keyCodeColor: rgba(50, 50, 50, 0.2);
    margin: 0;
    cursor: default;
    background-image: url("./assets/wood2.jpg");
    background-size: cover;
    overflow: hidden;   
}

.centerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board {
    display: flex;
    width: 90%;
    height: 100px;
    border-top: 20px solid black;
}

.note {
    --delayOut: 1s;
    --delayIn: 0s;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px var(--keyLine) inset;
    background-color: ivory;
    transition: var(--delayOut) background-color;
    transition: var(--delayOut) height;
    font-size: 300%;
    color: var(--accentColor);
    user-select: none;
}
.note:hover {
    background-color: rgb(225, 225, 225);
    transition: var(--delayIn) background-color;
    transition: var(--delayIn) height;
    box-shadow: 0 0 20px black inset;
    height: 90%;
    width: 95%;
}
.dullNote {
    --delayOut: 1s;
    --delayIn: 0s;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px var(--keyShade) inset;
    border-right: 1px solid black;
    background-color: ivory;
    transition: var(--delayOut) background-color;
    font-size: 300%;
    color: var(--accentColor);
    user-select: none;
}

.noteAudio {
    width: 0px;
    height: 0px;
    opacity: 0;
}